<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.myehr.mapper.formmanage.form.AnnouncementMapper" >
  <resultMap id="BaseResultMap" type="com.myehr.pojo.formmanage.form.Announcement" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="TITLE" property="title" jdbcType="NVARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="CREATE_USER" property="createUser" jdbcType="VARCHAR" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_USER" property="updateUser" jdbcType="VARCHAR" />
    <result column="STATE" property="state" jdbcType="CHAR" />
    <result column="CREATE_USER_NAME" property="createUserName" jdbcType="VARCHAR" />
    <result column="PUB_DEPARTMENT" property="pubDepartment" jdbcType="NVARCHAR" />
    <result column="MAP_ADDRESS" property="mapAddress" jdbcType="NCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.myehr.pojo.formmanage.form.Announcement" extends="BaseResultMap" >
    <result column="INFO_DETAIL" property="infoDetail" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, TITLE, CREATE_TIME, CREATE_USER, UPDATE_TIME, UPDATE_USER, STATE, CREATE_USER_NAME, 
    PUB_DEPARTMENT, MAP_ADDRESS
  </sql>
  <sql id="Blob_Column_List" >
    INFO_DETAIL
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.myehr.pojo.formmanage.form.AnnouncementExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from ANNOUNCEMENT
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.myehr.pojo.formmanage.form.AnnouncementExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ANNOUNCEMENT
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from ANNOUNCEMENT
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from ANNOUNCEMENT
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.myehr.pojo.formmanage.form.AnnouncementExample" >
    delete from ANNOUNCEMENT
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.myehr.pojo.formmanage.form.Announcement" >
    insert into ANNOUNCEMENT ( TITLE, CREATE_TIME, 
      CREATE_USER, UPDATE_TIME, UPDATE_USER, 
      STATE, CREATE_USER_NAME, PUB_DEPARTMENT, 
      MAP_ADDRESS, INFO_DETAIL)
    values ( #{title,jdbcType=NVARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{createUser,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{updateUser,jdbcType=VARCHAR}, 
      #{state,jdbcType=CHAR}, #{createUserName,jdbcType=VARCHAR}, #{pubDepartment,jdbcType=NVARCHAR}, 
      #{mapAddress,jdbcType=NCHAR}, #{infoDetail,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.myehr.pojo.formmanage.form.Announcement" >
    insert into ANNOUNCEMENT
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="title != null" >
        TITLE,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="createUser != null" >
        CREATE_USER,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
      <if test="updateUser != null" >
        UPDATE_USER,
      </if>
      <if test="state != null" >
        STATE,
      </if>
      <if test="createUserName != null" >
        CREATE_USER_NAME,
      </if>
      <if test="pubDepartment != null" >
        PUB_DEPARTMENT,
      </if>
      <if test="mapAddress != null" >
        MAP_ADDRESS,
      </if>
      <if test="infoDetail != null" >
        INFO_DETAIL,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=NVARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null" >
        #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        #{state,jdbcType=CHAR},
      </if>
      <if test="createUserName != null" >
        #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="pubDepartment != null" >
        #{pubDepartment,jdbcType=NVARCHAR},
      </if>
      <if test="mapAddress != null" >
        #{mapAddress,jdbcType=NCHAR},
      </if>
      <if test="infoDetail != null" >
        #{infoDetail,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.myehr.pojo.formmanage.form.AnnouncementExample" resultType="java.lang.Integer" >
    select count(*) from ANNOUNCEMENT
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update ANNOUNCEMENT
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.title != null" >
        TITLE = #{record.title,jdbcType=NVARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createUser != null" >
        CREATE_USER = #{record.createUser,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null" >
        UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateUser != null" >
        UPDATE_USER = #{record.updateUser,jdbcType=VARCHAR},
      </if>
      <if test="record.state != null" >
        STATE = #{record.state,jdbcType=CHAR},
      </if>
      <if test="record.createUserName != null" >
        CREATE_USER_NAME = #{record.createUserName,jdbcType=VARCHAR},
      </if>
      <if test="record.pubDepartment != null" >
        PUB_DEPARTMENT = #{record.pubDepartment,jdbcType=NVARCHAR},
      </if>
      <if test="record.mapAddress != null" >
        MAP_ADDRESS = #{record.mapAddress,jdbcType=NCHAR},
      </if>
      <if test="record.infoDetail != null" >
        INFO_DETAIL = #{record.infoDetail,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update ANNOUNCEMENT
    set ID = #{record.id,jdbcType=INTEGER},
      TITLE = #{record.title,jdbcType=NVARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      CREATE_USER = #{record.createUser,jdbcType=VARCHAR},
      UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
      UPDATE_USER = #{record.updateUser,jdbcType=VARCHAR},
      STATE = #{record.state,jdbcType=CHAR},
      CREATE_USER_NAME = #{record.createUserName,jdbcType=VARCHAR},
      PUB_DEPARTMENT = #{record.pubDepartment,jdbcType=NVARCHAR},
      MAP_ADDRESS = #{record.mapAddress,jdbcType=NCHAR},
      INFO_DETAIL = #{record.infoDetail,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update ANNOUNCEMENT
    set ID = #{record.id,jdbcType=INTEGER},
      TITLE = #{record.title,jdbcType=NVARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      CREATE_USER = #{record.createUser,jdbcType=VARCHAR},
      UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
      UPDATE_USER = #{record.updateUser,jdbcType=VARCHAR},
      STATE = #{record.state,jdbcType=CHAR},
      CREATE_USER_NAME = #{record.createUserName,jdbcType=VARCHAR},
      PUB_DEPARTMENT = #{record.pubDepartment,jdbcType=NVARCHAR},
      MAP_ADDRESS = #{record.mapAddress,jdbcType=NCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.myehr.pojo.formmanage.form.Announcement" >
    update ANNOUNCEMENT
    <set >
      <if test="title != null" >
        TITLE = #{title,jdbcType=NVARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        CREATE_USER = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null" >
        UPDATE_USER = #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        STATE = #{state,jdbcType=CHAR},
      </if>
      <if test="createUserName != null" >
        CREATE_USER_NAME = #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="pubDepartment != null" >
        PUB_DEPARTMENT = #{pubDepartment,jdbcType=NVARCHAR},
      </if>
      <if test="mapAddress != null" >
        MAP_ADDRESS = #{mapAddress,jdbcType=NCHAR},
      </if>
      <if test="infoDetail != null" >
        INFO_DETAIL = #{infoDetail,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.myehr.pojo.formmanage.form.Announcement" >
    update ANNOUNCEMENT
    set TITLE = #{title,jdbcType=NVARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      CREATE_USER = #{createUser,jdbcType=VARCHAR},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      UPDATE_USER = #{updateUser,jdbcType=VARCHAR},
      STATE = #{state,jdbcType=CHAR},
      CREATE_USER_NAME = #{createUserName,jdbcType=VARCHAR},
      PUB_DEPARTMENT = #{pubDepartment,jdbcType=NVARCHAR},
      MAP_ADDRESS = #{mapAddress,jdbcType=NCHAR},
      INFO_DETAIL = #{infoDetail,jdbcType=LONGVARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.myehr.pojo.formmanage.form.Announcement" >
    update ANNOUNCEMENT
    set TITLE = #{title,jdbcType=NVARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      CREATE_USER = #{createUser,jdbcType=VARCHAR},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      UPDATE_USER = #{updateUser,jdbcType=VARCHAR},
      STATE = #{state,jdbcType=CHAR},
      CREATE_USER_NAME = #{createUserName,jdbcType=VARCHAR},
      PUB_DEPARTMENT = #{pubDepartment,jdbcType=NVARCHAR},
      MAP_ADDRESS = #{mapAddress,jdbcType=NCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>