<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.myehr.mapper.formmanage.form.SysActfreeHisMapper" >
  <resultMap id="BaseResultMap" type="com.myehr.pojo.formmanage.form.SysActfreeHis" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="TASKID" property="taskid" jdbcType="VARCHAR" />
    <result column="ASSIGREE" property="assigree" jdbcType="VARCHAR" />
    <result column="STARTTIME" property="starttime" jdbcType="TIMESTAMP" />
    <result column="ENDTIME" property="endtime" jdbcType="TIMESTAMP" />
    <result column="TITLE" property="title" jdbcType="VARCHAR" />
    <result column="NEXTASSIGREE" property="nextassigree" jdbcType="VARCHAR" />
    <result column="RESULT" property="result" jdbcType="VARCHAR" />
    <result column="COMENT" property="coment" jdbcType="VARCHAR" />
    <result column="STATUSA" property="statusa" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, TASKID, ASSIGREE, STARTTIME, ENDTIME, TITLE, NEXTASSIGREE, RESULT, COMENT, STATUSA
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.myehr.pojo.formmanage.form.SysActfreeHisExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from SYS_ACTFREE_HIS
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from SYS_ACTFREE_HIS
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from SYS_ACTFREE_HIS
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.myehr.pojo.formmanage.form.SysActfreeHisExample" >
    delete from SYS_ACTFREE_HIS
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.myehr.pojo.formmanage.form.SysActfreeHis" >
    insert into SYS_ACTFREE_HIS ( TASKID, ASSIGREE, 
      STARTTIME, ENDTIME, TITLE, 
      NEXTASSIGREE, RESULT, COMENT, 
      STATUSA)
    values ( #{taskid,jdbcType=VARCHAR}, #{assigree,jdbcType=VARCHAR}, 
      #{starttime,jdbcType=TIMESTAMP}, #{endtime,jdbcType=TIMESTAMP}, #{title,jdbcType=VARCHAR}, 
      #{nextassigree,jdbcType=VARCHAR}, #{result,jdbcType=VARCHAR}, #{coment,jdbcType=VARCHAR}, 
      #{statusa,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.myehr.pojo.formmanage.form.SysActfreeHis" >
    insert into SYS_ACTFREE_HIS
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="taskid != null" >
        TASKID,
      </if>
      <if test="assigree != null" >
        ASSIGREE,
      </if>
      <if test="starttime != null" >
        STARTTIME,
      </if>
      <if test="endtime != null" >
        ENDTIME,
      </if>
      <if test="title != null" >
        TITLE,
      </if>
      <if test="nextassigree != null" >
        NEXTASSIGREE,
      </if>
      <if test="result != null" >
        RESULT,
      </if>
      <if test="coment != null" >
        COMENT,
      </if>
      <if test="statusa != null" >
        STATUSA,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="taskid != null" >
        #{taskid,jdbcType=VARCHAR},
      </if>
      <if test="assigree != null" >
        #{assigree,jdbcType=VARCHAR},
      </if>
      <if test="starttime != null" >
        #{starttime,jdbcType=TIMESTAMP},
      </if>
      <if test="endtime != null" >
        #{endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="nextassigree != null" >
        #{nextassigree,jdbcType=VARCHAR},
      </if>
      <if test="result != null" >
        #{result,jdbcType=VARCHAR},
      </if>
      <if test="coment != null" >
        #{coment,jdbcType=VARCHAR},
      </if>
      <if test="statusa != null" >
        #{statusa,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.myehr.pojo.formmanage.form.SysActfreeHisExample" resultType="java.lang.Integer" >
    select count(*) from SYS_ACTFREE_HIS
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update SYS_ACTFREE_HIS
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.taskid != null" >
        TASKID = #{record.taskid,jdbcType=VARCHAR},
      </if>
      <if test="record.assigree != null" >
        ASSIGREE = #{record.assigree,jdbcType=VARCHAR},
      </if>
      <if test="record.starttime != null" >
        STARTTIME = #{record.starttime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.endtime != null" >
        ENDTIME = #{record.endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.title != null" >
        TITLE = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.nextassigree != null" >
        NEXTASSIGREE = #{record.nextassigree,jdbcType=VARCHAR},
      </if>
      <if test="record.result != null" >
        RESULT = #{record.result,jdbcType=VARCHAR},
      </if>
      <if test="record.coment != null" >
        COMENT = #{record.coment,jdbcType=VARCHAR},
      </if>
      <if test="record.statusa != null" >
        STATUSA = #{record.statusa,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update SYS_ACTFREE_HIS
    set ID = #{record.id,jdbcType=INTEGER},
      TASKID = #{record.taskid,jdbcType=VARCHAR},
      ASSIGREE = #{record.assigree,jdbcType=VARCHAR},
      STARTTIME = #{record.starttime,jdbcType=TIMESTAMP},
      ENDTIME = #{record.endtime,jdbcType=TIMESTAMP},
      TITLE = #{record.title,jdbcType=VARCHAR},
      NEXTASSIGREE = #{record.nextassigree,jdbcType=VARCHAR},
      RESULT = #{record.result,jdbcType=VARCHAR},
      COMENT = #{record.coment,jdbcType=VARCHAR},
      STATUSA = #{record.statusa,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.myehr.pojo.formmanage.form.SysActfreeHis" >
    update SYS_ACTFREE_HIS
    <set >
      <if test="taskid != null" >
        TASKID = #{taskid,jdbcType=VARCHAR},
      </if>
      <if test="assigree != null" >
        ASSIGREE = #{assigree,jdbcType=VARCHAR},
      </if>
      <if test="starttime != null" >
        STARTTIME = #{starttime,jdbcType=TIMESTAMP},
      </if>
      <if test="endtime != null" >
        ENDTIME = #{endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="title != null" >
        TITLE = #{title,jdbcType=VARCHAR},
      </if>
      <if test="nextassigree != null" >
        NEXTASSIGREE = #{nextassigree,jdbcType=VARCHAR},
      </if>
      <if test="result != null" >
        RESULT = #{result,jdbcType=VARCHAR},
      </if>
      <if test="coment != null" >
        COMENT = #{coment,jdbcType=VARCHAR},
      </if>
      <if test="statusa != null" >
        STATUSA = #{statusa,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.myehr.pojo.formmanage.form.SysActfreeHis" >
    update SYS_ACTFREE_HIS
    set TASKID = #{taskid,jdbcType=VARCHAR},
      ASSIGREE = #{assigree,jdbcType=VARCHAR},
      STARTTIME = #{starttime,jdbcType=TIMESTAMP},
      ENDTIME = #{endtime,jdbcType=TIMESTAMP},
      TITLE = #{title,jdbcType=VARCHAR},
      NEXTASSIGREE = #{nextassigree,jdbcType=VARCHAR},
      RESULT = #{result,jdbcType=VARCHAR},
      COMENT = #{coment,jdbcType=VARCHAR},
      STATUSA = #{statusa,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>