@charset "UTF-8"
.icon-home{
	background: url(../../images/icons/navicon/icon_home.png) center center;
}
.icon-exit{
	background: url(../../images/icons/navicon/icon_exit.png) center center;
}
.icon-function{
	background: url(../../images/icons/navicon/icon_function_grey.png) center center;
}
.icon-system{
	background: url(../../images/icons/navicon/icon_system_grey.png) center center;
}
.icon-power{
	background: url(../../images/icons/navicon/icon_power_grey.png) center center;
}
.icon-organzation{
	background: url(../../images/icons/navicon/icon_organization_grey.png) center center;
}
.icon-person{
	background: url(../../images/icons/navicon/icon_person_grey.png) center center;
}
.icon-wellfale{
	background: url(../../images/icons/navicon/icon_wellfale_grey.png) center center;
}
.icon-examine{
	background: url(../../images/icons/navicon/icon_examine_grey.png) center center;
}