<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.myehr.mapper.field.SysFieldExpandMapper" >
  <resultMap id="BaseResultMap" type="com.myehr.pojo.field.SysFieldExpand" >
    <id column="FIELD_ID" property="fieldId" jdbcType="DECIMAL" />
    <result column="FIELD_CODE" property="fieldCode" jdbcType="NVARCHAR" />
    <result column="FIELD_ENTITY_ID" property="fieldEntityId" jdbcType="DECIMAL" />
    <result column="FIELD_TABLENAME" property="fieldTablename" jdbcType="NVARCHAR" />
    <result column="FIELD_CHINA_NAME" property="fieldChinaName" jdbcType="NVARCHAR" />
    <result column="FIELD_IS_NULL" property="fieldIsNull" jdbcType="NVARCHAR" />
    <result column="FIELD_IS_KEY" property="fieldIsKey" jdbcType="NVARCHAR" />
    <result column="FIELD_TYPE" property="fieldType" jdbcType="NVARCHAR" />
    <result column="FIELD_LEN" property="fieldLen" jdbcType="NVARCHAR" />
    <result column="FIELD_DICT" property="fieldDict" jdbcType="NVARCHAR" />
    <result column="FIELD_SORT" property="fieldSort" jdbcType="DECIMAL" />
    <result column="FIELD_STATE" property="fieldState" jdbcType="NVARCHAR" />
    <result column="FIELD_IS_MARK" property="fieldIsMark" jdbcType="NVARCHAR" />
    <result column="OPERATOR_NAME" property="operatorName" jdbcType="NVARCHAR" />
    <result column="OPERATOR_TIME" property="operatorTime" jdbcType="TIMESTAMP" />
    <result column="APPROVE_NAME" property="approveName" jdbcType="NVARCHAR" />
    <result column="APPROVE_TIME" property="approveTime" jdbcType="TIMESTAMP" />
    <result column="DELETE_MARK" property="deleteMark" jdbcType="NVARCHAR" />
    <result column="DELETE_MARK_BACK" property="deleteMarkBack" jdbcType="NVARCHAR" />
    <result column="FIELD_DATA_TYPE" property="fieldDataType" jdbcType="NVARCHAR" />
    <result column="FIELD_IS_LOG" property="fieldIsLog" jdbcType="NVARCHAR" />
    <result column="FIELD_IS_BUS_KEY" property="fieldIsBusKey" jdbcType="NVARCHAR" />
    <result column="CONTROL_TYPE" property="controlType" jdbcType="NVARCHAR" />
    <result column="DICT_CODE" property="dictCode" jdbcType="NVARCHAR" />
    <result column="ENTITY_CODE" property="entityCode" jdbcType="NVARCHAR" />
    <result column="FIELD_RULE_ID" property="fieldRuleId" jdbcType="DECIMAL" />
    <result column="FIELD_RULE_MAX" property="fieldRuleMax" jdbcType="NVARCHAR" />
    <result column="FIELD_RULE_NAME" property="fieldRuleName" jdbcType="NVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    FIELD_ID, FIELD_CODE, FIELD_ENTITY_ID, FIELD_TABLENAME, FIELD_CHINA_NAME, FIELD_IS_NULL, 
    FIELD_IS_KEY, FIELD_TYPE, FIELD_LEN, FIELD_DICT, FIELD_SORT, FIELD_STATE, FIELD_IS_MARK, 
    OPERATOR_NAME, OPERATOR_TIME, APPROVE_NAME, APPROVE_TIME, DELETE_MARK, DELETE_MARK_BACK, 
    FIELD_DATA_TYPE, FIELD_IS_LOG, FIELD_IS_BUS_KEY, CONTROL_TYPE, DICT_CODE,ENTITY_CODE, FIELD_RULE_ID, 
    FIELD_RULE_MAX, FIELD_RULE_NAME
  </sql>
  <select id="queryFieldByEntityId" resultMap="BaseResultMap" parameterType="java.lang.String" >
  		SELECT
	*
FROM
	sys_field
WHERE
	FIELD_ENTITY_ID = #{entityId,jdbcType=DECIMAL}
		AND DELETE_MARK = 'N'
  </select>
  <select id="queryExportFieldByEntityId" resultMap="BaseResultMap" parameterType="java.lang.String" >
  	SELECT sys_field.*,sys_entity.entity_code
 FROM
	sys_field,sys_entity
 WHERE sys_field.FIELD_ENTITY_ID =sys_entity.entity_id
 and	FIELD_ENTITY_ID = #{entityId,jdbcType=DECIMAL}
		AND DELETE_MARK = 'N'
  </select>
  <select id="queryAllExportField" resultMap="BaseResultMap" parameterType="java.lang.String" >
  	SELECT sys_field.*,sys_entity.entity_code
   FROM
 sys_field,sys_entity
 WHERE sys_field.FIELD_ENTITY_ID =sys_entity.entity_id
 		AND sys_entity.entity_code in (${entityCodes})
		AND sys_field.DELETE_MARK = 'N'
  </select>
</mapper>