<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.myehr.mapper.datafield.DatafieldMapper" >
  <resultMap id="BaseResultMap" type="com.myehr.pojo.datafield.Datafield" >
    <id column="DT_ID" property="dtId" jdbcType="DECIMAL" />
    <result column="FIELD_CODE" property="fieldCode" jdbcType="NVARCHAR" />
    <result column="FIELD_NAME" property="fieldName" jdbcType="NVARCHAR" />
    <result column="ISREQUIRED" property="isrequired" jdbcType="NVARCHAR" />
    <result column="ISPK" property="ispk" jdbcType="NVARCHAR" />
    <result column="ISNK" property="isnk" jdbcType="NVARCHAR" />
    <result column="FIELD_ENGLISHNAME" property="fieldEnglishname" jdbcType="NVARCHAR" />
    <result column="TABLE_CODE" property="tableCode" jdbcType="NVARCHAR" />
    <result column="TABLE_NAME" property="tableName" jdbcType="NVARCHAR" />
    <result column="ENTITY_CODE" property="entityCode" jdbcType="NVARCHAR" />
    <result column="FIELD_TYPE" property="fieldType" jdbcType="NVARCHAR" />
    <result column="FIELD_LEN" property="fieldLen" jdbcType="NVARCHAR" />
    <result column="DATA_TYPE" property="dataType" jdbcType="NVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    DT_ID, FIELD_CODE, FIELD_NAME, ISREQUIRED, ISPK, ISNK, FIELD_ENGLISHNAME, TABLE_CODE, 
    TABLE_NAME, ENTITY_CODE, FIELD_TYPE, FIELD_LEN, DATA_TYPE
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.myehr.pojo.datafield.DatafieldExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from DATAFIELD
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from DATAFIELD
    where DT_ID = #{dtId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from DATAFIELD
    where DT_ID = #{dtId,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="com.myehr.pojo.datafield.DatafieldExample" >
    delete from DATAFIELD
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.myehr.pojo.datafield.Datafield" >
    insert into DATAFIELD (FIELD_CODE, FIELD_NAME, 
      ISREQUIRED, ISPK, ISNK, 
      FIELD_ENGLISHNAME, TABLE_CODE, TABLE_NAME, 
      ENTITY_CODE, FIELD_TYPE, FIELD_LEN, 
      DATA_TYPE)
    values (#{fieldCode,jdbcType=NVARCHAR}, #{fieldName,jdbcType=NVARCHAR}, 
      #{isrequired,jdbcType=NVARCHAR}, #{ispk,jdbcType=NVARCHAR}, #{isnk,jdbcType=NVARCHAR}, 
      #{fieldEnglishname,jdbcType=NVARCHAR}, #{tableCode,jdbcType=NVARCHAR}, #{tableName,jdbcType=NVARCHAR}, 
      #{entityCode,jdbcType=NVARCHAR}, #{fieldType,jdbcType=NVARCHAR}, #{fieldLen,jdbcType=NVARCHAR}, 
      #{dataType,jdbcType=NVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.myehr.pojo.datafield.Datafield" >
    insert into DATAFIELD
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="dtId != null" >
        DT_ID,
      </if>
      <if test="fieldCode != null" >
        FIELD_CODE,
      </if>
      <if test="fieldName != null" >
        FIELD_NAME,
      </if>
      <if test="isrequired != null" >
        ISREQUIRED,
      </if>
      <if test="ispk != null" >
        ISPK,
      </if>
      <if test="isnk != null" >
        ISNK,
      </if>
      <if test="fieldEnglishname != null" >
        FIELD_ENGLISHNAME,
      </if>
      <if test="tableCode != null" >
        TABLE_CODE,
      </if>
      <if test="tableName != null" >
        TABLE_NAME,
      </if>
      <if test="entityCode != null" >
        ENTITY_CODE,
      </if>
      <if test="fieldType != null" >
        FIELD_TYPE,
      </if>
      <if test="fieldLen != null" >
        FIELD_LEN,
      </if>
      <if test="dataType != null" >
        DATA_TYPE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="dtId != null" >
        #{dtId,jdbcType=DECIMAL},
      </if>
      <if test="fieldCode != null" >
        #{fieldCode,jdbcType=NVARCHAR},
      </if>
      <if test="fieldName != null" >
        #{fieldName,jdbcType=NVARCHAR},
      </if>
      <if test="isrequired != null" >
        #{isrequired,jdbcType=NVARCHAR},
      </if>
      <if test="ispk != null" >
        #{ispk,jdbcType=NVARCHAR},
      </if>
      <if test="isnk != null" >
        #{isnk,jdbcType=NVARCHAR},
      </if>
      <if test="fieldEnglishname != null" >
        #{fieldEnglishname,jdbcType=NVARCHAR},
      </if>
      <if test="tableCode != null" >
        #{tableCode,jdbcType=NVARCHAR},
      </if>
      <if test="tableName != null" >
        #{tableName,jdbcType=NVARCHAR},
      </if>
      <if test="entityCode != null" >
        #{entityCode,jdbcType=NVARCHAR},
      </if>
      <if test="fieldType != null" >
        #{fieldType,jdbcType=NVARCHAR},
      </if>
      <if test="fieldLen != null" >
        #{fieldLen,jdbcType=NVARCHAR},
      </if>
      <if test="dataType != null" >
        #{dataType,jdbcType=NVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.myehr.pojo.datafield.DatafieldExample" resultType="java.lang.Integer" >
    select count(*) from DATAFIELD
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update DATAFIELD
    <set >
      <if test="record.dtId != null" >
        DT_ID = #{record.dtId,jdbcType=DECIMAL},
      </if>
      <if test="record.fieldCode != null" >
        FIELD_CODE = #{record.fieldCode,jdbcType=NVARCHAR},
      </if>
      <if test="record.fieldName != null" >
        FIELD_NAME = #{record.fieldName,jdbcType=NVARCHAR},
      </if>
      <if test="record.isrequired != null" >
        ISREQUIRED = #{record.isrequired,jdbcType=NVARCHAR},
      </if>
      <if test="record.ispk != null" >
        ISPK = #{record.ispk,jdbcType=NVARCHAR},
      </if>
      <if test="record.isnk != null" >
        ISNK = #{record.isnk,jdbcType=NVARCHAR},
      </if>
      <if test="record.fieldEnglishname != null" >
        FIELD_ENGLISHNAME = #{record.fieldEnglishname,jdbcType=NVARCHAR},
      </if>
      <if test="record.tableCode != null" >
        TABLE_CODE = #{record.tableCode,jdbcType=NVARCHAR},
      </if>
      <if test="record.tableName != null" >
        TABLE_NAME = #{record.tableName,jdbcType=NVARCHAR},
      </if>
      <if test="record.entityCode != null" >
        ENTITY_CODE = #{record.entityCode,jdbcType=NVARCHAR},
      </if>
      <if test="record.fieldType != null" >
        FIELD_TYPE = #{record.fieldType,jdbcType=NVARCHAR},
      </if>
      <if test="record.fieldLen != null" >
        FIELD_LEN = #{record.fieldLen,jdbcType=NVARCHAR},
      </if>
      <if test="record.dataType != null" >
        DATA_TYPE = #{record.dataType,jdbcType=NVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update DATAFIELD
    set DT_ID = #{record.dtId,jdbcType=DECIMAL},
      FIELD_CODE = #{record.fieldCode,jdbcType=NVARCHAR},
      FIELD_NAME = #{record.fieldName,jdbcType=NVARCHAR},
      ISREQUIRED = #{record.isrequired,jdbcType=NVARCHAR},
      ISPK = #{record.ispk,jdbcType=NVARCHAR},
      ISNK = #{record.isnk,jdbcType=NVARCHAR},
      FIELD_ENGLISHNAME = #{record.fieldEnglishname,jdbcType=NVARCHAR},
      TABLE_CODE = #{record.tableCode,jdbcType=NVARCHAR},
      TABLE_NAME = #{record.tableName,jdbcType=NVARCHAR},
      ENTITY_CODE = #{record.entityCode,jdbcType=NVARCHAR},
      FIELD_TYPE = #{record.fieldType,jdbcType=NVARCHAR},
      FIELD_LEN = #{record.fieldLen,jdbcType=NVARCHAR},
      DATA_TYPE = #{record.dataType,jdbcType=NVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.myehr.pojo.datafield.Datafield" >
    update DATAFIELD
    <set >
      <if test="fieldCode != null" >
        FIELD_CODE = #{fieldCode,jdbcType=NVARCHAR},
      </if>
      <if test="fieldName != null" >
        FIELD_NAME = #{fieldName,jdbcType=NVARCHAR},
      </if>
      <if test="isrequired != null" >
        ISREQUIRED = #{isrequired,jdbcType=NVARCHAR},
      </if>
      <if test="ispk != null" >
        ISPK = #{ispk,jdbcType=NVARCHAR},
      </if>
      <if test="isnk != null" >
        ISNK = #{isnk,jdbcType=NVARCHAR},
      </if>
      <if test="fieldEnglishname != null" >
        FIELD_ENGLISHNAME = #{fieldEnglishname,jdbcType=NVARCHAR},
      </if>
      <if test="tableCode != null" >
        TABLE_CODE = #{tableCode,jdbcType=NVARCHAR},
      </if>
      <if test="tableName != null" >
        TABLE_NAME = #{tableName,jdbcType=NVARCHAR},
      </if>
      <if test="entityCode != null" >
        ENTITY_CODE = #{entityCode,jdbcType=NVARCHAR},
      </if>
      <if test="fieldType != null" >
        FIELD_TYPE = #{fieldType,jdbcType=NVARCHAR},
      </if>
      <if test="fieldLen != null" >
        FIELD_LEN = #{fieldLen,jdbcType=NVARCHAR},
      </if>
      <if test="dataType != null" >
        DATA_TYPE = #{dataType,jdbcType=NVARCHAR},
      </if>
    </set>
    where DT_ID = #{dtId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.myehr.pojo.datafield.Datafield" >
    update DATAFIELD
    set FIELD_CODE = #{fieldCode,jdbcType=NVARCHAR},
      FIELD_NAME = #{fieldName,jdbcType=NVARCHAR},
      ISREQUIRED = #{isrequired,jdbcType=NVARCHAR},
      ISPK = #{ispk,jdbcType=NVARCHAR},
      ISNK = #{isnk,jdbcType=NVARCHAR},
      FIELD_ENGLISHNAME = #{fieldEnglishname,jdbcType=NVARCHAR},
      TABLE_CODE = #{tableCode,jdbcType=NVARCHAR},
      TABLE_NAME = #{tableName,jdbcType=NVARCHAR},
      ENTITY_CODE = #{entityCode,jdbcType=NVARCHAR},
      FIELD_TYPE = #{fieldType,jdbcType=NVARCHAR},
      FIELD_LEN = #{fieldLen,jdbcType=NVARCHAR},
      DATA_TYPE = #{dataType,jdbcType=NVARCHAR}
    where DT_ID = #{dtId,jdbcType=DECIMAL}
  </update>
</mapper>