<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.myehr.mapper.formmanage.form.SysUserDictMapper" >
  <resultMap id="BaseResultMap" type="com.myehr.pojo.formmanage.form.SysUserDict" >
    <id column="USER_DICT_ID" property="userDictId" jdbcType="DECIMAL" />
    <result column="USER_ID" property="userId" jdbcType="DECIMAL" />
    <result column="DICT_ENTRY_ID" property="dictEntryId" jdbcType="DECIMAL" />
    <result column="DICT_TYPE_ID" property="dictTypeId" jdbcType="DECIMAL" />
    <result column="USER_DICT_REMARK" property="userDictRemark" jdbcType="NVARCHAR" />
    <result column="OPERATOR_NAME" property="operatorName" jdbcType="NVARCHAR" />
    <result column="OPERATOR_TIME" property="operatorTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    USER_DICT_ID, USER_ID, DICT_ENTRY_ID, DICT_TYPE_ID, USER_DICT_REMARK, OPERATOR_NAME, 
    OPERATOR_TIME
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.myehr.pojo.formmanage.form.SysUserDictExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from SYS_USER_DICT
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.math.BigDecimal" >
    select 
    <include refid="Base_Column_List" />
    from SYS_USER_DICT
    where USER_DICT_ID = #{userDictId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal" >
    delete from SYS_USER_DICT
    where USER_DICT_ID = #{userDictId,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="com.myehr.pojo.formmanage.form.SysUserDictExample" >
    delete from SYS_USER_DICT
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.myehr.pojo.formmanage.form.SysUserDict" >
    insert into SYS_USER_DICT (USER_ID, DICT_ENTRY_ID, 
      DICT_TYPE_ID, USER_DICT_REMARK, OPERATOR_NAME, 
      OPERATOR_TIME)
    values (#{userId,jdbcType=DECIMAL}, #{dictEntryId,jdbcType=DECIMAL}, 
      #{dictTypeId,jdbcType=DECIMAL}, #{userDictRemark,jdbcType=NVARCHAR}, #{operatorName,jdbcType=NVARCHAR}, 
      #{operatorTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.myehr.pojo.formmanage.form.SysUserDict" >
    insert into SYS_USER_DICT
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userDictId != null" >
        USER_DICT_ID,
      </if>
      <if test="userId != null" >
        USER_ID,
      </if>
      <if test="dictEntryId != null" >
        DICT_ENTRY_ID,
      </if>
      <if test="dictTypeId != null" >
        DICT_TYPE_ID,
      </if>
      <if test="userDictRemark != null" >
        USER_DICT_REMARK,
      </if>
      <if test="operatorName != null" >
        OPERATOR_NAME,
      </if>
      <if test="operatorTime != null" >
        OPERATOR_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userDictId != null" >
        #{userDictId,jdbcType=DECIMAL},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=DECIMAL},
      </if>
      <if test="dictEntryId != null" >
        #{dictEntryId,jdbcType=DECIMAL},
      </if>
      <if test="dictTypeId != null" >
        #{dictTypeId,jdbcType=DECIMAL},
      </if>
      <if test="userDictRemark != null" >
        #{userDictRemark,jdbcType=NVARCHAR},
      </if>
      <if test="operatorName != null" >
        #{operatorName,jdbcType=NVARCHAR},
      </if>
      <if test="operatorTime != null" >
        #{operatorTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.myehr.pojo.formmanage.form.SysUserDictExample" resultType="java.lang.Integer" >
    select count(*) from SYS_USER_DICT
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update SYS_USER_DICT
    <set >
      <if test="record.userDictId != null" >
        USER_DICT_ID = #{record.userDictId,jdbcType=DECIMAL},
      </if>
      <if test="record.userId != null" >
        USER_ID = #{record.userId,jdbcType=DECIMAL},
      </if>
      <if test="record.dictEntryId != null" >
        DICT_ENTRY_ID = #{record.dictEntryId,jdbcType=DECIMAL},
      </if>
      <if test="record.dictTypeId != null" >
        DICT_TYPE_ID = #{record.dictTypeId,jdbcType=DECIMAL},
      </if>
      <if test="record.userDictRemark != null" >
        USER_DICT_REMARK = #{record.userDictRemark,jdbcType=NVARCHAR},
      </if>
      <if test="record.operatorName != null" >
        OPERATOR_NAME = #{record.operatorName,jdbcType=NVARCHAR},
      </if>
      <if test="record.operatorTime != null" >
        OPERATOR_TIME = #{record.operatorTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update SYS_USER_DICT
    set USER_DICT_ID = #{record.userDictId,jdbcType=DECIMAL},
      USER_ID = #{record.userId,jdbcType=DECIMAL},
      DICT_ENTRY_ID = #{record.dictEntryId,jdbcType=DECIMAL},
      DICT_TYPE_ID = #{record.dictTypeId,jdbcType=DECIMAL},
      USER_DICT_REMARK = #{record.userDictRemark,jdbcType=NVARCHAR},
      OPERATOR_NAME = #{record.operatorName,jdbcType=NVARCHAR},
      OPERATOR_TIME = #{record.operatorTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.myehr.pojo.formmanage.form.SysUserDict" >
    update SYS_USER_DICT
    <set >
      <if test="userId != null" >
        USER_ID = #{userId,jdbcType=DECIMAL},
      </if>
      <if test="dictEntryId != null" >
        DICT_ENTRY_ID = #{dictEntryId,jdbcType=DECIMAL},
      </if>
      <if test="dictTypeId != null" >
        DICT_TYPE_ID = #{dictTypeId,jdbcType=DECIMAL},
      </if>
      <if test="userDictRemark != null" >
        USER_DICT_REMARK = #{userDictRemark,jdbcType=NVARCHAR},
      </if>
      <if test="operatorName != null" >
        OPERATOR_NAME = #{operatorName,jdbcType=NVARCHAR},
      </if>
      <if test="operatorTime != null" >
        OPERATOR_TIME = #{operatorTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where USER_DICT_ID = #{userDictId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.myehr.pojo.formmanage.form.SysUserDict" >
    update SYS_USER_DICT
    set USER_ID = #{userId,jdbcType=DECIMAL},
      DICT_ENTRY_ID = #{dictEntryId,jdbcType=DECIMAL},
      DICT_TYPE_ID = #{dictTypeId,jdbcType=DECIMAL},
      USER_DICT_REMARK = #{userDictRemark,jdbcType=NVARCHAR},
      OPERATOR_NAME = #{operatorName,jdbcType=NVARCHAR},
      OPERATOR_TIME = #{operatorTime,jdbcType=TIMESTAMP}
    where USER_DICT_ID = #{userDictId,jdbcType=DECIMAL}
  </update>
</mapper>