<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myehr.mapper.formmanage.templateexpand.SysTemplateExpandMapper">
  <resultMap id="BaseResultMap" type="com.myehr.pojo.formmanage.template.SysTemplate">
    <id column="TEMPLATE_ID" jdbcType="DECIMAL" property="templateId" />
    <result column="TEMPLATE_CODE" jdbcType="VARCHAR" property="templateCode" />
    <result column="TEMPLATE_NAME" jdbcType="VARCHAR" property="templateName" />
    <result column="OPERATOR_TIME" jdbcType="DATE" property="operatorTime" />
    <result column="OPERATOR_NAME" jdbcType="VARCHAR" property="operatorName" />
    <result column="TEMPLATE_FOLDER_ID" jdbcType="DECIMAL" property="templateFolderId"/>
    <result column="TEMPLATE_SQL" jdbcType="VARCHAR" property="templateSql" />
    <result column="PC_EDIT_CARD_SHOW" jdbcType="VARCHAR" property="pcEditCardShow" />
    <result column="PC_GRID_SHOW" jdbcType="VARCHAR" property="pcGridShow" />
    <result column="APP_GRID_SHOW" jdbcType="VARCHAR" property="appGridShow" />
    <result column="PC_ADD_CARD_SHOW" jdbcType="VARCHAR" property="pcAddCardShow" />
    <result column="APP_ADD_CARD_SHOW" jdbcType="VARCHAR" property="appAddCardShow" />
    <result column="APP_EDIT_CARD_SHOW" jdbcType="VARCHAR" property="appEditCardShow" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    TEMPLATE_ID, TEMPLATE_CODE, TEMPLATE_NAME, OPERATOR_TIME, OPERATOR_NAME, TEMPLATE_FOLDER_ID, 
    TEMPLATE_SQL, PC_EDIT_CARD_SHOW, PC_GRID_SHOW, APP_GRID_SHOW, PC_ADD_CARD_SHOW, APP_ADD_CARD_SHOW, 
    APP_EDIT_CARD_SHOW
  </sql>
    <select id="getTemplateSql" parameterType="java.util.Map" resultType="java.lang.String">
  		select dbo.SYS_FN_GETSQL(#{templatId})
	</select>	
	
	<select id="operation1" parameterType="java.util.Map" resultMap="BaseResultMap">
		${sql}
	</select>
	<select id="operation2" parameterType="java.util.Map" resultType="java.lang.Integer">
		${sql}
	</select>
</mapper>