<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.myehr.mapper.formmanage.template.SysTemplateGroupMapper" >
  <resultMap id="BaseResultMap" type="com.myehr.pojo.formmanage.template.SysTemplateGroup" >
    <id column="FORM_GROUP_ID" property="formGroupId" jdbcType="DECIMAL" />
    <result column="GROUP_TEMPLATE_ID" property="groupTemplateId" jdbcType="DECIMAL" />
    <result column="FORM_GROUP_LABLE_WIDTH" property="formGroupLableWidth" jdbcType="NVARCHAR" />
    <result column="FORM_GROUP_CODE" property="formGroupCode" jdbcType="NVARCHAR" />
    <result column="FORM_GROUP_NAME" property="formGroupName" jdbcType="NVARCHAR" />
    <result column="FORM_GROUP_ROW_COUNT" property="formGroupRowCount" jdbcType="DECIMAL" />
    <result column="FORM_GROUP_SORT" property="formGroupSort" jdbcType="DECIMAL" />
    <result column="FORM_GROUP_ISOPEN" property="formGroupIsopen" jdbcType="NVARCHAR" />
    <result column="OPERATOR_NAME" property="operatorName" jdbcType="NVARCHAR" />
    <result column="OPERATOR_TIME" property="operatorTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    FORM_GROUP_ID, GROUP_TEMPLATE_ID, FORM_GROUP_LABLE_WIDTH, FORM_GROUP_CODE, FORM_GROUP_NAME, 
    FORM_GROUP_ROW_COUNT, FORM_GROUP_SORT, FORM_GROUP_ISOPEN, OPERATOR_NAME, OPERATOR_TIME
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.myehr.pojo.formmanage.template.SysTemplateGroupExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from SYS_TEMPLATE_GROUP
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.math.BigDecimal" >
    select 
    <include refid="Base_Column_List" />
    from SYS_TEMPLATE_GROUP
    where FORM_GROUP_ID = #{formGroupId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal" >
    delete from SYS_TEMPLATE_GROUP
    where FORM_GROUP_ID = #{formGroupId,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="com.myehr.pojo.formmanage.template.SysTemplateGroupExample" >
    delete from SYS_TEMPLATE_GROUP
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.myehr.pojo.formmanage.template.SysTemplateGroup" useGeneratedKeys="true" keyProperty="formGroupId" keyColumn="FORM_GROUP_ID">
    insert into SYS_TEMPLATE_GROUP ( GROUP_TEMPLATE_ID, FORM_GROUP_LABLE_WIDTH, 
      FORM_GROUP_CODE, FORM_GROUP_NAME, FORM_GROUP_ROW_COUNT, 
      FORM_GROUP_SORT, FORM_GROUP_ISOPEN, OPERATOR_NAME, 
      OPERATOR_TIME)
    values ( #{groupTemplateId,jdbcType=DECIMAL}, #{formGroupLableWidth,jdbcType=NVARCHAR}, 
      #{formGroupCode,jdbcType=NVARCHAR}, #{formGroupName,jdbcType=NVARCHAR}, #{formGroupRowCount,jdbcType=DECIMAL}, 
      #{formGroupSort,jdbcType=DECIMAL}, #{formGroupIsopen,jdbcType=NVARCHAR}, #{operatorName,jdbcType=NVARCHAR}, 
      #{operatorTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.myehr.pojo.formmanage.template.SysTemplateGroup" >
    insert into SYS_TEMPLATE_GROUP
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="formGroupId != null" >
        FORM_GROUP_ID,
      </if>
      <if test="groupTemplateId != null" >
        GROUP_TEMPLATE_ID,
      </if>
      <if test="formGroupLableWidth != null" >
        FORM_GROUP_LABLE_WIDTH,
      </if>
      <if test="formGroupCode != null" >
        FORM_GROUP_CODE,
      </if>
      <if test="formGroupName != null" >
        FORM_GROUP_NAME,
      </if>
      <if test="formGroupRowCount != null" >
        FORM_GROUP_ROW_COUNT,
      </if>
      <if test="formGroupSort != null" >
        FORM_GROUP_SORT,
      </if>
      <if test="formGroupIsopen != null" >
        FORM_GROUP_ISOPEN,
      </if>
      <if test="operatorName != null" >
        OPERATOR_NAME,
      </if>
      <if test="operatorTime != null" >
        OPERATOR_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="formGroupId != null" >
        #{formGroupId,jdbcType=DECIMAL},
      </if>
      <if test="groupTemplateId != null" >
        #{groupTemplateId,jdbcType=DECIMAL},
      </if>
      <if test="formGroupLableWidth != null" >
        #{formGroupLableWidth,jdbcType=NVARCHAR},
      </if>
      <if test="formGroupCode != null" >
        #{formGroupCode,jdbcType=NVARCHAR},
      </if>
      <if test="formGroupName != null" >
        #{formGroupName,jdbcType=NVARCHAR},
      </if>
      <if test="formGroupRowCount != null" >
        #{formGroupRowCount,jdbcType=DECIMAL},
      </if>
      <if test="formGroupSort != null" >
        #{formGroupSort,jdbcType=DECIMAL},
      </if>
      <if test="formGroupIsopen != null" >
        #{formGroupIsopen,jdbcType=NVARCHAR},
      </if>
      <if test="operatorName != null" >
        #{operatorName,jdbcType=NVARCHAR},
      </if>
      <if test="operatorTime != null" >
        #{operatorTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.myehr.pojo.formmanage.template.SysTemplateGroupExample" resultType="java.lang.Integer" >
    select count(*) from SYS_TEMPLATE_GROUP
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update SYS_TEMPLATE_GROUP
    <set >
      <if test="record.formGroupId != null" >
        FORM_GROUP_ID = #{record.formGroupId,jdbcType=DECIMAL},
      </if>
      <if test="record.groupTemplateId != null" >
        GROUP_TEMPLATE_ID = #{record.groupTemplateId,jdbcType=DECIMAL},
      </if>
      <if test="record.formGroupLableWidth != null" >
        FORM_GROUP_LABLE_WIDTH = #{record.formGroupLableWidth,jdbcType=NVARCHAR},
      </if>
      <if test="record.formGroupCode != null" >
        FORM_GROUP_CODE = #{record.formGroupCode,jdbcType=NVARCHAR},
      </if>
      <if test="record.formGroupName != null" >
        FORM_GROUP_NAME = #{record.formGroupName,jdbcType=NVARCHAR},
      </if>
      <if test="record.formGroupRowCount != null" >
        FORM_GROUP_ROW_COUNT = #{record.formGroupRowCount,jdbcType=DECIMAL},
      </if>
      <if test="record.formGroupSort != null" >
        FORM_GROUP_SORT = #{record.formGroupSort,jdbcType=DECIMAL},
      </if>
      <if test="record.formGroupIsopen != null" >
        FORM_GROUP_ISOPEN = #{record.formGroupIsopen,jdbcType=NVARCHAR},
      </if>
      <if test="record.operatorName != null" >
        OPERATOR_NAME = #{record.operatorName,jdbcType=NVARCHAR},
      </if>
      <if test="record.operatorTime != null" >
        OPERATOR_TIME = #{record.operatorTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update SYS_TEMPLATE_GROUP
    set FORM_GROUP_ID = #{record.formGroupId,jdbcType=DECIMAL},
      GROUP_TEMPLATE_ID = #{record.groupTemplateId,jdbcType=DECIMAL},
      FORM_GROUP_LABLE_WIDTH = #{record.formGroupLableWidth,jdbcType=NVARCHAR},
      FORM_GROUP_CODE = #{record.formGroupCode,jdbcType=NVARCHAR},
      FORM_GROUP_NAME = #{record.formGroupName,jdbcType=NVARCHAR},
      FORM_GROUP_ROW_COUNT = #{record.formGroupRowCount,jdbcType=DECIMAL},
      FORM_GROUP_SORT = #{record.formGroupSort,jdbcType=DECIMAL},
      FORM_GROUP_ISOPEN = #{record.formGroupIsopen,jdbcType=NVARCHAR},
      OPERATOR_NAME = #{record.operatorName,jdbcType=NVARCHAR},
      OPERATOR_TIME = #{record.operatorTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.myehr.pojo.formmanage.template.SysTemplateGroup" >
    update SYS_TEMPLATE_GROUP
    <set >
      <if test="groupTemplateId != null" >
        GROUP_TEMPLATE_ID = #{groupTemplateId,jdbcType=DECIMAL},
      </if>
      <if test="formGroupLableWidth != null" >
        FORM_GROUP_LABLE_WIDTH = #{formGroupLableWidth,jdbcType=NVARCHAR},
      </if>
      <if test="formGroupCode != null" >
        FORM_GROUP_CODE = #{formGroupCode,jdbcType=NVARCHAR},
      </if>
      <if test="formGroupName != null" >
        FORM_GROUP_NAME = #{formGroupName,jdbcType=NVARCHAR},
      </if>
      <if test="formGroupRowCount != null" >
        FORM_GROUP_ROW_COUNT = #{formGroupRowCount,jdbcType=DECIMAL},
      </if>
      <if test="formGroupSort != null" >
        FORM_GROUP_SORT = #{formGroupSort,jdbcType=DECIMAL},
      </if>
      <if test="formGroupIsopen != null" >
        FORM_GROUP_ISOPEN = #{formGroupIsopen,jdbcType=NVARCHAR},
      </if>
      <if test="operatorName != null" >
        OPERATOR_NAME = #{operatorName,jdbcType=NVARCHAR},
      </if>
      <if test="operatorTime != null" >
        OPERATOR_TIME = #{operatorTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where FORM_GROUP_ID = #{formGroupId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.myehr.pojo.formmanage.template.SysTemplateGroup" >
    update SYS_TEMPLATE_GROUP
    set GROUP_TEMPLATE_ID = #{groupTemplateId,jdbcType=DECIMAL},
      FORM_GROUP_LABLE_WIDTH = #{formGroupLableWidth,jdbcType=NVARCHAR},
      FORM_GROUP_CODE = #{formGroupCode,jdbcType=NVARCHAR},
      FORM_GROUP_NAME = #{formGroupName,jdbcType=NVARCHAR},
      FORM_GROUP_ROW_COUNT = #{formGroupRowCount,jdbcType=DECIMAL},
      FORM_GROUP_SORT = #{formGroupSort,jdbcType=DECIMAL},
      FORM_GROUP_ISOPEN = #{formGroupIsopen,jdbcType=NVARCHAR},
      OPERATOR_NAME = #{operatorName,jdbcType=NVARCHAR},
      OPERATOR_TIME = #{operatorTime,jdbcType=TIMESTAMP}
    where FORM_GROUP_ID = #{formGroupId,jdbcType=DECIMAL}
  </update>
</mapper>