<div class="modal" ng-controller="KisBpmAssignmentPopupCtrl">
    <div class="modal-dialog" style="width: 700px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="close()">&times;</button>
                <h2 translate>PROPERTY.ASSIGNMENT.TITLE</h2>
            </div>
            <div class="modal-body">
            	<div class="row" style="height: 350px;">
				  <div class="col-md-4" style="height: 350px;">
					  <div class="panel panel-default" style="height: 350px;overflow:scroll;">
						  <div class="panel-heading">
						    <h3 class="panel-title">参数树params</h3>
						  </div>
						  <div class="panel-body" style="padding: 5px;">
						  	<ul id="params_tree" class="ztree" ztree ng-model="selectNode"></ul>
						  </div>
						</div>
				  </div>
				  <div class="col-md-8" style="height: 350px;">
				  	<ul class="nav nav-tabs">
					  <li tab="assigneeField" class="active" ng-click="setActive('assigneeField')" ><a href="#">{{'PROPERTY.ASSIGNMENT.ASSIGNEE' | translate}}</a></li>
					  <li tab="userField" ng-click="setActive('userField')" ><a href="#">{{'PROPERTY.ASSIGNMENT.CANDIDATE_USERS' | translate}}</a></li>
					  <li tab="groupField" ng-click="setActive('groupField')" ><a href="#">{{'PROPERTY.ASSIGNMENT.CANDIDATE_GROUPS' | translate}}</a></li>
					</ul>
					<div class="tab-content" style="background: #fff;margin-bottom: 5px;width: 430px;height: 310px;">
						<div tab="assigneeField" class="tab-pane am-fade active" style="padding: 5px;">
	            			<textarea rows="6" id="assigneeField" class="form-control" ng-model="assignment.assignee" placeholder="{{'PROPERTY.ASSIGNMENT.ASSIGNEE_PLACEHOLDER' | translate}}" ></textarea>
						</div>
						<div tab="userField" class="tab-pane am-fade active" style="height: 240px;padding: 5px;display: none;overflow: auto;">
							<div ng-repeat="candidateUser in assignment.candidateUsers">
	            				<textarea rows="6" id="userField" class="form-control" ng-model="candidateUser.value" placeholder="Enter Candidate users"></textarea>
	            	            <i class="glyphicon glyphicon-minus clickable-property" ng-click="removeCandidateUserValue($index)"></i>
	            	            <i ng-if="$index == (assignment.candidateUsers.length - 1)" class="glyphicon glyphicon-plus clickable-property" ng-click="addCandidateUserValue($index)"></i>
							</div>
						</div>
						<div tab="groupField" class="tab-pane am-fade active" style="height: 240px;padding: 5px;display: none;overflow: auto;">
							<div ng-repeat="candidateGroup in assignment.candidateGroups">
	            				<textarea rows="6" id="groupField" class="form-control" ng-model="candidateGroup.value" placeholder="Enter Candidate groups"></textarea>
	            	          	<i class="glyphicon glyphicon-minus clickable-property" ng-click="removeCandidateGroupValue($index)"></i>
	            	          	<i ng-if="$index == (assignment.candidateGroups.length - 1)" class="glyphicon glyphicon-plus clickable-property" ng-click="addCandidateGroupValue($index)"></i>
							</div>
						</div>
					</div>
				  </div>
				</div>
            </div>
            <div class="modal-footer">
                <button ng-click="close()" class="btn btn-primary" translate>ACTION.CANCEL</button>
                <button ng-click="save()" class="btn btn-primary" translate>ACTION.SAVE</button>
            </div>
        </div>
    </div>
</div>