
body{
	background-color: #222;
	color: #eee;
	font-size: 14px;
	font-family: "Verdana",Geneva,sans-serif;
	margin: 0;
	padding: 0;
	min-width: 480px;
}


#demo{
	position: relative;
	margin: 0 auto;
	width: 90%;
	padding: 0 30px;
	line-height: 20px; 
}


#examples{
	background-color: #191919;
	background-color: rgba(0,0,0,0.3);
	padding: 5px;
	margin: 10px 0;
	overflow: hidden;
}

#examples > hr{ margin: 20px 10px; }

.content{
	overflow: auto;
	position: relative;
	padding: 20px;
	background: #333;
	margin: 60px;
	width: 740px;
	max-width: 97%;
	height: 400px;
	-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
}

.content.hidden{ display: none; }

.content.light{
	background-color: #ddd;
	color: #333;
}

.content hr{
	margin-bottom: -10px;
	border-top: 1px solid rgba(0,0,0,0.7);
}

.content.light hr{
	border-bottom: 1px solid rgba(255,255,255,0.6);
	border-top: 1px solid rgba(0,0,0,0.1);
}

.content p{ margin: 30px 0; }

.content p:last-child{ margin-bottom: 5px; }

.content p:nth-child(odd), .content.light p:nth-child(odd){
	background: #444;
	background: rgba(255,255,255,0.1);
	padding: 5px 10px;
	-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
}

.content p:nth-child(3n+3){
	color: #bbb;
	background: none;
	padding: 0;
}

.content.light p:nth-child(odd){
	background: #fff;
	background: rgba(255,255,255,0.8);
}

.content.light p:nth-child(3n+3){ color: #666; }

.content p.full:nth-child(odd), .content p.half:nth-child(odd), 
.content p.full:nth-child(3n+3), .content p.half:nth-child(3n+3){
	background: none;
	padding: 0;
}

.content h2{
	font-size: 200%;
	line-height: 130%;
}

.content h2:first-child{ margin-top: 5px; }

.content:nth-child(odd) h2{
	font-family: "Oswald", sans-serif;
	font-weight: 300;
	font-style: normal;
}

hr + .content:nth-child(odd) h2{
	font-family: "Lobster Two", "Georgia", serif;
	font-weight: 700;
	font-style: italic;
}

