.uploadify {
    float: left;
    position: relative;
    margin-bottom: 1em;
}

.uploadify-button {
    color: #FFF;  
    text-align: center;  
    width: 100%;
    height: 35px;
    line-height: 35px;
    width: 100px;
    background: #0dbea2;
    color: #FFF;
    font-weight: bolder;
}
.uploadify .uploadify-button span {
    font-size: 14px;
}
.uploadify:hover .uploadify-button span{
   color: #2b3d5e;
}

.uploadify-button.disabled {
    background-color: #d0d0d0;
    color: #808080;
}

.uploadify-queue {
    display: none;
    margin-bottom: 1em;
    width: 100%;
    position: absolute;
    top: 35px;
    left: 0;
}

.uploadify-queue-item {
    background-color: #f5f5f5;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font: 11px Verdana,Geneva,sans-serif;
    margin-top: 5px;
    max-width: 350px;
    padding: 10px;
}

.uploadify-error {
    background-color: #fde5dd !important;
}

.uploadify-queue-item .cancel a {
    background: url('uploadify-cancel.png') 0 0 no-repeat;
    float: right;
    height: 16px;
    text-indent: -9999px;
    width: 16px;
}

.uploadify-queue-item.completed {
    background-color: #e5e5e5;
}

.uploadify-progress {
    background-color: #e5e5e5;
    margin-top: 10px;
    width: 100%;
}

.uploadify-progress-bar {
    background-color: #09f;
    height: 3px;
    width: 1px;
}
