<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.myehr.mapper.sysUserRole.SysUserRoleMapper" >
  <resultMap id="BaseResultMap" type="com.myehr.pojo.sysUserRole.SysUserRole" >
    <id column="USER_ROLE_ID" property="userRoleId" jdbcType="INTEGER" />
    <result column="USER_ID" property="userId" jdbcType="INTEGER" />
    <result column="ROLE_ID" property="roleId" jdbcType="INTEGER" />
    <result column="USER_ROLE_REFER_REMAKR" property="userRoleReferRemakr" jdbcType="VARCHAR" />
    <result column="OPERATOR_NAME" property="operatorName" jdbcType="VARCHAR" />
    <result column="OPERATOR_TIME" property="operatorTime" jdbcType="TIMESTAMP" />
    <result column="APPROVE_NAME" property="approveName" jdbcType="VARCHAR" />
    <result column="APPROVE_TIME" property="approveTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    USER_ROLE_ID, USER_ID, ROLE_ID, USER_ROLE_REFER_REMAKR, OPERATOR_NAME, OPERATOR_TIME, 
    APPROVE_NAME, APPROVE_TIME
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.myehr.pojo.sysUserRole.SysUserRoleExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sys_user_role
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sys_user_role
    where USER_ROLE_ID = #{userRoleId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sys_user_role
    where USER_ROLE_ID = #{userRoleId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.myehr.pojo.sysUserRole.SysUserRoleExample" >
    delete from sys_user_role
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.myehr.pojo.sysUserRole.SysUserRole" >
    insert into sys_user_role (USER_ID, ROLE_ID, 
      USER_ROLE_REFER_REMAKR, OPERATOR_NAME, OPERATOR_TIME, 
      APPROVE_NAME, APPROVE_TIME)
    values (#{userId,jdbcType=INTEGER}, #{roleId,jdbcType=INTEGER}, 
      #{userRoleReferRemakr,jdbcType=VARCHAR}, #{operatorName,jdbcType=VARCHAR}, #{operatorTime,jdbcType=TIMESTAMP}, 
      #{approveName,jdbcType=VARCHAR}, #{approveTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.myehr.pojo.sysUserRole.SysUserRole" >
    insert into sys_user_role
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userRoleId != null" >
        USER_ROLE_ID,
      </if>
      <if test="userId != null" >
        USER_ID,
      </if>
      <if test="roleId != null" >
        ROLE_ID,
      </if>
      <if test="userRoleReferRemakr != null" >
        USER_ROLE_REFER_REMAKR,
      </if>
      <if test="operatorName != null" >
        OPERATOR_NAME,
      </if>
      <if test="operatorTime != null" >
        OPERATOR_TIME,
      </if>
      <if test="approveName != null" >
        APPROVE_NAME,
      </if>
      <if test="approveTime != null" >
        APPROVE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userRoleId != null" >
        #{userRoleId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="roleId != null" >
        #{roleId,jdbcType=INTEGER},
      </if>
      <if test="userRoleReferRemakr != null" >
        #{userRoleReferRemakr,jdbcType=VARCHAR},
      </if>
      <if test="operatorName != null" >
        #{operatorName,jdbcType=VARCHAR},
      </if>
      <if test="operatorTime != null" >
        #{operatorTime,jdbcType=TIMESTAMP},
      </if>
      <if test="approveName != null" >
        #{approveName,jdbcType=VARCHAR},
      </if>
      <if test="approveTime != null" >
        #{approveTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.myehr.pojo.sysUserRole.SysUserRoleExample" resultType="java.lang.Integer" >
    select count(*) from sys_user_role
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update sys_user_role
    <set >
      <if test="record.userRoleId != null" >
        USER_ROLE_ID = #{record.userRoleId,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null" >
        USER_ID = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.roleId != null" >
        ROLE_ID = #{record.roleId,jdbcType=INTEGER},
      </if>
      <if test="record.userRoleReferRemakr != null" >
        USER_ROLE_REFER_REMAKR = #{record.userRoleReferRemakr,jdbcType=VARCHAR},
      </if>
      <if test="record.operatorName != null" >
        OPERATOR_NAME = #{record.operatorName,jdbcType=VARCHAR},
      </if>
      <if test="record.operatorTime != null" >
        OPERATOR_TIME = #{record.operatorTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.approveName != null" >
        APPROVE_NAME = #{record.approveName,jdbcType=VARCHAR},
      </if>
      <if test="record.approveTime != null" >
        APPROVE_TIME = #{record.approveTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update sys_user_role
    set USER_ROLE_ID = #{record.userRoleId,jdbcType=INTEGER},
      USER_ID = #{record.userId,jdbcType=INTEGER},
      ROLE_ID = #{record.roleId,jdbcType=INTEGER},
      USER_ROLE_REFER_REMAKR = #{record.userRoleReferRemakr,jdbcType=VARCHAR},
      OPERATOR_NAME = #{record.operatorName,jdbcType=VARCHAR},
      OPERATOR_TIME = #{record.operatorTime,jdbcType=TIMESTAMP},
      APPROVE_NAME = #{record.approveName,jdbcType=VARCHAR},
      APPROVE_TIME = #{record.approveTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.myehr.pojo.sysUserRole.SysUserRole" >
    update sys_user_role
    <set >
      <if test="userId != null" >
        USER_ID = #{userId,jdbcType=INTEGER},
      </if>
      <if test="roleId != null" >
        ROLE_ID = #{roleId,jdbcType=INTEGER},
      </if>
      <if test="userRoleReferRemakr != null" >
        USER_ROLE_REFER_REMAKR = #{userRoleReferRemakr,jdbcType=VARCHAR},
      </if>
      <if test="operatorName != null" >
        OPERATOR_NAME = #{operatorName,jdbcType=VARCHAR},
      </if>
      <if test="operatorTime != null" >
        OPERATOR_TIME = #{operatorTime,jdbcType=TIMESTAMP},
      </if>
      <if test="approveName != null" >
        APPROVE_NAME = #{approveName,jdbcType=VARCHAR},
      </if>
      <if test="approveTime != null" >
        APPROVE_TIME = #{approveTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where USER_ROLE_ID = #{userRoleId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.myehr.pojo.sysUserRole.SysUserRole" >
    update sys_user_role
    set USER_ID = #{userId,jdbcType=INTEGER},
      ROLE_ID = #{roleId,jdbcType=INTEGER},
      USER_ROLE_REFER_REMAKR = #{userRoleReferRemakr,jdbcType=VARCHAR},
      OPERATOR_NAME = #{operatorName,jdbcType=VARCHAR},
      OPERATOR_TIME = #{operatorTime,jdbcType=TIMESTAMP},
      APPROVE_NAME = #{approveName,jdbcType=VARCHAR},
      APPROVE_TIME = #{approveTime,jdbcType=TIMESTAMP}
    where USER_ROLE_ID = #{userRoleId,jdbcType=INTEGER}
  </update>
</mapper>